.container {
    margin: 0 auto;
    max-width: 600px;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-top: 20vh;
}

.location {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    width: 100%;
}

.reservationList {

}

.reservation {

}
